/* 微信气泡 */
div.speech {
    float: left;
    margin: 10px 0;
    padding: 8px;
    table-layout: fixed;
    word-break: break-all;
    position: relative;
    border-radius: 8px;
}
div.speech:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 15px;
    top: -20px;
    border: 10px solid;
    border-color: #0099ff
}
div.speech:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 17px;
    top: -16px;
    border: 8px solid;
}
div.speech.right {
    color: white;
    display: inline-block;
    margin-right: 10px;
    max-width: 75%;
    float: right;
    background-color: #0099ff
}
div.speech.right:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    bottom: auto;
    left: auto;
    right: -10px;
    border-width: 9px 0 9px 10px;
    border-color: transparent;
}
div.speech.right:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    bottom: auto;
    left: auto;
    right: -8px;
    border-width: 8px 0 8px 9px;
    border-color: transparent #0099ff;
}
div .left {
    display: inline-block;
    margin-left: 10px;
    max-width: 75%;
    position: relative;
    background-color: #eceded;
}
div .left:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    bottom: auto;
    left: -10px;
    border-width: 9px 10px 9px 0;
    border-color: transparent;
}
div .left:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    bottom: auto;
    left: -8px;
    border-width: 8px 9px 8px 0;
    border-color: transparent #eceded;
}
.leftimg {
    float: left;
    margin-top: 10px;
}
.rightimg {
    float: right;
    margin-top: 10px;
}
.leftd {
    clear: both;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.rightd {
    clear: both;
    float: right;
    margin-right: 10px;
}

.leftd_h{
    width: 39px;
    height: 39px;
    border-radius: 100%;
    display: block;
    float: left;
    overflow: hidden;
}

.leftd_h img{
    display: block;
    width: 100%;
    height: auto;
}
.rightd_h{
    width: 39px;
    height: 39px;
    border-radius: 100%;
    display: block;
    float: right;
    overflow: hidden;
}

.rightd_h img{
    display: block;
    width: 100%;
    height: auto;
}

.chat-name{
    position: absolute;
    top:-20px;
    font-size: 5px;
    color: gray;
}